@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    left:0px;
}

header a {
    text-decoration: none;
    color: inherit;
}


#logo {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E26310;
}

/* Navbar style -- Not sure why this isn't working in the code*/ 

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    right: 10px;
    padding: 0 1 rem;
    display: none;
    top: 100%; 

}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
    /* position: fixed;
    top:15px;
    right: 5px;
    font-family: 'lato', sans-serif; */
    color: #E26310;
     
}

#menu > li {
    display: block;
    /* float: left; */
    
}

li > a:hover{
    /* display: inline-block; */
    padding: 6px;
    background-color: #E26310;
    color: #ffffff;
}
/* from stack overflow
puts a line behind each menu
 */

/* #menu li:not(:last-child):after {
    content: "|";
} */

/* Nav collapse */
#nav-collapse:checked~nav{
    display: block;
}

#nav-collapse {
    display: none;
}

.nav-collapse-label {
    font-size: 2rem;
    color: #E26310;
} 




/* Main page */

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

/* cleaner*/

#cleaner {
    height: 400px;
    width: 100%;
    background: url('../images/cleaning_1.jpeg') no-repeat center center/cover;
    position: relative;
    
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(255, 213, 128);
    font-size: 110%;
    position: absolute;
    left: 20px;
    top: 160px;
    width: 90%;
    margin-top: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2 {
    color: #E26310;
    font-family: 'oswald', sans-serif;
}

.expertise {
    list-style-position: inside;
    list-style-type: none;
    left:20px;
    position: relative;
}




/* Media query: for mobile phones and tablets */
@media screen and (min-width: 768px) {

    /* Header */
  
}


