@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,700&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'lato', sans-serif;
   
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#E26310;
}

p {
    font-family: 'lato', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    left:0px;
}

header a {
    text-decoration: none;
    color: inherit;
}


#logo {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E26310;
}

/* Navbar style -- Not sure why this isn't working in the code*/ 

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    right: 10px;
    padding: 0 1 rem;
    display: none;
    top: 100%; 

}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
    /* position: fixed;
    top:15px;
    right: 5px;
    font-family: 'lato', sans-serif; */
    color: #E26310;
     
}

#menu > li {
    display: block;
    /* float: left; */
    
}

li > a:hover{
    /* display: inline-block; */
    padding: 6px;
    background-color: #E26310;
    color: #ffffff;
}


/* Nav collapse */
#nav-collapse:checked~nav{
    display: block;
}

#nav-collapse {
    display: none;
}

.nav-collapse-label {
    font-size: 2rem;
    color: #E26310;
} 




/* Main page */

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 10px;
    /* margin-bottom: 40px; */
    min-height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
}

/* cleaner*/

#cleaner {
    height: 500px;
    width: 100%;
    background: url('../images/cleaning_1.jpeg') no-repeat center center/cover;
    position: relative;
    
    
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(255, 213, 128);
    font-size: 110%;
    position: absolute;
    left: 20px;
    top: 160px;
    width: 90%;
    margin-top: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2 {
    color: #E26310;
    font-family: 'oswald', sans-serif;
}

.expertise h3{
    font-family: 'mooli', sans-serif;
    list-style-position: inside;
    list-style-type: none;
    left:2px;
    position: relative;
}

/* Our services section */

#services {
    /* width: 100%; */
    margin-top: 60px auto;
    text-align: center;
    background-color: #FFFDD0;
    height: auto;
     
    
}

#services  h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 200%;
    color: #E26310;
}

#services h4 {
    color: #E26310;
    text-align: center;
    line-height: 20px;

    
}

#services i {
    color: #E26310;
}
    

#commercial {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    /* min-height: 100vh; */
}

#commercial p {
    padding: 0 25px;
}

#domestic {
       /* display: flex; */
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
}

#domestic p {
    padding: 0 25px;
}

#industrial {
       /* display: flex; */
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
}

#industrial p {
    padding: 0 20px;
}

/* footer information */
footer {
    
            bottom: 0;
            left: 0;
            right: 0;
            position: relative;
        
}

#extra {
    min-height: 10vh;
    background-color: #FFFDD0;
}

#address-tel p{
    font-family: 'lato', sans-serif;
    font-weight: bold;
}


#socials {
    text-align: center;
    padding: 2px 0;
    /* display: flex; */
    justify-content: space-evenly;
    background-color: rgb(255, 99, 71, 0.9);
}

#socials i {
    font-size: 150%;
    padding: 2%;
    color: #ffffff;
}




/* Our services section */
#ourservice{
    background-color: #FFFDD0;
    /* height: auto; */
    width: 100%;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: larger;
    justify-content: center;
    /* align-items: center; */
   
   
}

.comm_section {
    
    /* margin-top: 5px; */
    background-color: #FFFDD0;
    height: auto;
    /* display: flex; */
    /* display: inline-block; */
   
}

.general_info {
    text-align: center;
}


.service_img {
    width: 100%;
    /* height: 500px; */
    line-height: 1rem;
    position: relative;
    object-fit: cover;
    
}

.points ul > li{
    list-style-type: square;
    font-family: 'lato',sans-serif;
    color: #E26310;
}


/* About Us section */

#aboutus{
    width: 100%;
    position: relative;
    top: 40px;
    background-color: #FFFDD0;
    margin: auto;    
}

#aboutus_info {
    position: relative;  
    text-align: center;
    
}

#about_img {
    /* width: 100%; */
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* left: 150px; */
    /* height: 200px; */
}


#aboutus h2 {
    text-decoration: overline underline;
}

#aboutus p {
    text-align: center;
    padding: 0 15px;
}

#aboutus-circle {
    background: url('../images/cleaning_1.jpeg') no-repeat top center;
    height: 70vw;
    width: 70vw;
    border-radius: 50%;
    max-width: 350px;
    max-height: 300px;
    margin-top: 20px;
    align-items: center;
    position: relative;
    left: 40px;
    
}



/* Contact us section */
#contact_us {
    height: 550px;
    /* width: 100%; */
    position: relative;
    /* top: 60px; */
    margin-top: 120px;
    margin-bottom: 240px;
     text-align: center;
}



#contact_info h4{
    margin-top: 10px;
    color: #E26310;
}

/* Form section */
#booknow_form {
    margin-top: 50px;
    /* background-color: #FFFDD0; */
    margin: 5px 0 0 0;
    padding: 0 5px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0; 
    box-sizing: border-box;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
  }


#contact_us hr {
    color: #E26310;
}


#radio_section {
    margin-bottom: 10px;
}

 .book_button {
    background-color: #E26310;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

/* Map section */
#map-container {
    height: 300px;
    margin-top: 5px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* Media query: for mobile phones and tablets */
@media screen and (min-width: 768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex
    }

        /* from stack overflow
    puts a line behind each menu
     */
        #menu li:not(:last-child):after {
        content: "|";
    }

        #nav-collapse-label {
            display: none;
        }


        /* Main Section */
                main {
                     
                    margin-top: 50px;             
                }


            #cleaner {
                height: 400px;
                width: 90%;
                left: 60px;
            
                }

                #cover-text {
                    /* margin-top: 5px; */
                    width:300px;
                    font-size: medium;
                   
                }

  #services div {
      vertical-align: top;
      display: inline-block;
      width: 30%;
      padding-right: 5px;
      margin: 10px;
  }

 
  .service_img {
    width: 200px;
    height: 200px;
  }

  .comm_section{
    display: flex;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    text-align: left;
    margin-top: 60px;
  }

  .general_info {
    text-align: left;
    margin-left: 30px;
    overflow: hidden;
    width: 50%;
  }

  .points {
    position: relative;
    left: 2px;
    width: 50%;
}

.points p {
  overflow: hidden;
}

/* About Us page */
#contact_us {
    display: flex; 
  flex-direction: row;
  align-items:inherit;
    width: 100vw;
    margin-top: 60px;
    /* height: 100vh; */
    margin-bottom: 40px; 
    padding: 5px 250px 28px 45px;
}


#contact_info {
    width: 66.6%;
    
}

#aboutus {
    position: relative;
    top: 40px;
    margin-top: 40px;
    /* margin: 0 80px; */
    /* overflow: hidden; */
    padding: 12px 20px;
    display: flex;   
    height: 420px;
    width: 90%;
}



#booknow_form {
    position: relative;
    /* left: 50px; */
    /* text-align: center; */
    /* width: 100%; */
   
   display: inline-block; 
   
}





.vertical {
    width: "0";
    size : "50px";
     margin: 0 auto;
}
  
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    
    #cleaner {
            height: 500px;
    
        }

    
}


/* Larger devices 1200px and up */
@media screen and (min-width: 1200px) {

    main {
    
            margin-top: 0;
        }

     #cleaner {
        height: 950px;
        
            }


            .service_img {
                width: 400px;
                height: 400px;
              }
            
              .comm_section{
                display: flex;
                justify-content: center;
                padding-right: 40px;
                padding-left: 40px;
              }
              

}



